.row.comment{style: 'position: relative'}
  .col-sm-2.col-md-2.col-lg-2
    %p= User.find(comment.user_id).name
  .col-sm-9.col-md-9.col-lg-9
    %p= comment.content
  .delete-button
    -if user_signed_in?
      -if comment.user_id == current_user.id
        %p= link_to 'Delete', destroy_comment_path(comment.id, movie_id: params[:id]), class: 'btn', method: :delete

